<%= form_for(@candidate, :url => {:controller => 'candidates', :action => 'create'}, :html => {:class=>'form-horizontal'}) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form_for(@candidate,
                 :url => {:controller => 'candidates', :action => 'create'},
                 :html => {:class=>'form-horizontal'}
        ) do |f|
    %>

        <div class="form-group col-lg-8 required ">
          <%= f.label :company_name, :class=>'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%= f.text_field :first_name,  :class=>'form-control input-sm', :size=>10, autofocus: true %>
          </div>
        </div>

        <div class="form-group col-lg-8 required">
          <%= f.label :email, :class=>'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%= f.email_field :email, :class=>'form-control input-sm', :size=>10 %>
          </div>
        </div>

        <div class="form-group col-lg-8 required">
          <%= f.label :url, :class=>'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <%= f.email_field :email, :class=>'form-control input-sm', :size=>10 %>
          </div>
        </div>

        <div class="form-group col-lg-8 required">
          <%= f.label :theme, :class=>'col-sm-3 control-label' %>
          <div class="col-sm-6">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Theme
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Green</a></li>
                <li><a href="#">Maroon</a></li>
                <li><a href="#">Classic</a></li>
              </ul>
            </div>
          </div>
        </div>



        <div class="form-group col-lg-8">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Save", :class=>"btn btn-primary btn-md" %>
            <%= link_to 'Cancel', :back %>
          </div>
        </div>
    <% end %>

<% end %>
